<div class="section login-page container-fluid">
  <div class="row aligh-item-center">
    <div class="col-sm-3 p-0">
      <div class="login-form">
        <div class="logo">
          <a class="">
            <img src="https://svgshare.com/i/nEz.svg" alt="">
          </a>
        </div>
        <div class="page-heading">
          <h2>Login into your account</h2>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="login-form-items">
          <div class="items">
            <label for="">Email Address</label>
            <div class="input">
              <input type="text" placeholder="Email Address" formControlName="email">
              <i class="ri-mail-line"></i>
            </div>
            <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">*Email is required</span>
          </div>
          <div class="items">
            <label for="">Password</label>
            <div class="input">
              <input type="password" placeholder="Enter your password" formControlName="password">
              <i class="ri-lock-line"></i>
            </div>
            <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">*Password is required</span>
          </div>
          <div class="form-signin">
            <button class="btn" [disabled]="!loginForm.valid">Login Now</button>
          </div>
          <div class="or-option">
            <p>or</p>
          </div>
          <div class="form-signup">
            <button routerLink="/register" class="btn">Signup Now</button>
          </div>
        </div>
        </form>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="login-extra">
        <img src="https://svgshare.com/i/nDi.svg" alt="">
      </div>
    </div>
  </div>
</div>
